.authentication-background
  background-image: url("../public/images/authentication.jpg")
  background-position: center
  background-size: cover
  width: auto
  height: 100vh

.authentication-wrap
  background: #ffffff
  padding: 0

.authentication-input
  margin-bottom: 1em

