.main-header-wrap
  width: 100%
  height: 90px
  padding: 0

.main-header
  padding: 1.5em 1em 1.5em 1em
  border-bottom: 1px solid #8492af
  width: 100%

.drop-menu
  border: none
  background: none

.icon
  width: 20px
  height: 30px

.triangle-left
  color: #5384ff

.header-side-menu-drop
  display: none

@media (max-width: 860px)
  .header-side-menu
    display: none!important
  .header-side-menu-drop
    display: block