.home-page-bottom
  width: 100%

.list-name
  font-size: 24px
  font-weight: 500

.list-title
  border-bottom: 1px solid #dadfe7
  padding: 0.5em
  p
    margin: 0

.days-delays
  background-color: #f83c7b
  width: 45px
  height: 45px
  color: #ffffff
  border-radius: 50%
  p
    line-height: 43px
    margin: 0
    font-weight: 500
    font-size: 24px


.days-left
  background-color: #5384ff
  width: 45px
  height: 45px
  color: #ffffff
  border-radius: 50%
  margin-right: 0.5em
  p
    line-height: 43px
    margin: 0
    font-weight: 500
    font-size: 24px

.side-image
  margin-right: 0.5em

.user-photo
  width: 47px
  height: 47px

.home-footer-list
  margin: 0
  padding: 0
  font-size: 14px
  li
    padding: 1em
    border-top: 1px solid rgba(132, 146, 175, 0.3)
    p
      margin: 0
  li:first-child
    border: none

.home-footer-line
  height: 80px
  width: 442px

.activity-list
  border-top: none!important